matplotlib==3.8.0
pandas==2.2.3
numpy==1.26.0
tensorflow==2.14.0
scikit-learn==1.6.1
albumentations==1.4.24
PyYAML==6.0.1
ultralytics==8.3.92
tqdm==4.67.1
wandb==0.19.8
isic-challenge-scoring==5.6.0
onnx==1.17.0
tf2onnx==1.16.1
# This flag is only used in my local development environment as I don't have a dGPU
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0
torchvision==0.21.0
